<div class="container">
  <h1>Mi Primer App</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    <p>number of tasks {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">{{ i }} {{ task }}</li>
  </ul>
  <hr />
  <h2>{{ "Hola ".repeat(4) }}</h2>
  <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ age() }}</p>
  <hr />
  <img [src]="imagen" alt="a wolf" />
  <input type="text" [value]="name()" name="name" id="txtName" />
  <button [disabled]="disabled">Click me</button>
  <p>person: {{ person.name }}</p>
  <hr />
  <h3>(Click y Double Click)</h3>
  <button (click)="clickHandler()">Click Me Once</button>
  <button (dblclick)="dbClickHandler()">Click Me Twice</button>
  <h3>(Change)</h3>
  <input
    type="number"
    [value]="age()"
    (change)="changeHandler($event)"
    name="age"
    id="numberAge"
  />
  <input
    type="text"
    [value]="person.name"
    (change)="changeHandler($event)"
    name="personName"
    id="txtPersonName"
  />
  <h3>(Keydown)</h3>
  <input
    type="text"
    [value]="person.name"
    (keydown)="keyDownHandler($event)"
    name="personName2"
    id="txtPersonName2"
  />
  <h3>(Keydown shift t)</h3>
  <input
    type="text"
    [value]="person.name"
    (keydown.shift.t)="shiftHandler()"
    name="personName3"
    id="txtPersonName3"
  />
  <hr />
  <input
    type="text"
    [value]="name()"
    (change)="changeHandler2($event)"
    name="personName"
    id="txtPersonName"
  />
  <p>name: {{ name() }}</p>
  <hr />
  <div *ngIf="age() >= 18; else elseAge">
    <p>Eres mayor de edad</p>
  </div>
  <ng-template #elseAge>
    <div>
      <p>Eres menor de edad</p>
    </div>
  </ng-template>
  <hr />
  <div [ngSwitch]="age()">
    <p *ngSwitchCase="18">Recien eres un adulto</p>
    <p *ngSwitchDefault>No se que eres</p>
  </div>
  <hr>
  <input [formControl]="colorCtrl" type="color" name="color" id="colorInput">
  <p>color: {{ colorCtrl.value }}</p>
</div>
